RewriteEngine on
# RewriteCond %{HTTP_HOST} cojorado\.com [NC]

RewriteCond %{HTTP_HOST} ^cojorado.com [NC,OR]
RewriteCond %{HTTP_HOST} ^www.cojorado.com [NC]
RewriteRule ^(.*)$ http://carajoknapp.com/$1 [L,R=301,NC]
