  {% if post.image.feature %}
  <div class="image-wrap">
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src=
    {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ post.image.feature }}"
    {% endif %}
  alt="{{ post.title }} feature image"></a>
  </div><!-- /.image-wrap -->
  {% endif %}
  <div class="post-preview-title">
    <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
   <p class="excerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
    <p><small><i>Posted on: {{ post.date | date: "%B %d, %Y" }}</i></small></p>
  </div>
