<div class="top-bar">
  <div class="row align-center">
	  <div class="medium-4 column">
	  	<a href="/" class="brand">{{ site.title }}</a>
	    <ul class="menu align-center expanded text-center">
	      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	  </div>
  </div>
</div>
