// Gotham Rounded

@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('../fonts/gothamrnd-medium-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-medium-webfont.woff') format('woff'), url('../fonts/gothamrnd-medium-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-medium-webfont.svg#webfontuj4nuDfA') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRoundedMediumItalic';
    src: url('../fonts/gothamrnd-medital-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-medital-webfont.woff') format('woff'), url('../fonts/gothamrnd-medital-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-medital-webfont.svg#webfontbJ27mz9U') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRoundedLightItalic';
    src: url('../fonts/gothamrnd-lightital-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-lightital-webfont.woff') format('woff'), url('../fonts/gothamrnd-lightital-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-lightital-webfont.svg#webfontHHkiXlWR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRoundedLight';
    src: url('../fonts/gothamrnd-light-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-light-webfont.woff') format('woff'), url('../fonts/gothamrnd-light-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-light-webfont.svg#webfonth9RTqF9D') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRoundedBookItalic';
    src: url('../fonts/gothamrnd-bookital-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-bookital-webfont.woff') format('woff'), url('../fonts/gothamrnd-bookital-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-bookital-webfont.svg#webfontiLVWC0D6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRoundedBook';
    src: url('../fonts/gothamrnd-book-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-book-webfont.woff') format('woff'), url('../fonts/gothamrnd-book-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-book-webfont.svg#webfontyPeKq5Uw') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRoundedBoldItalic';
    src: url('../fonts/gothamrnd-boldital-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-boldital-webfont.woff') format('woff'), url('../fonts/gothamrnd-boldital-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-boldital-webfont.svg#webfonth3v0gwhx') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRoundedBold';
    src: url('../fonts/gothamrnd-bold-webfont.eot');
    src: local('☺'), url('../fonts/gothamrnd-bold-webfont.woff') format('woff'), url('../fonts/gothamrnd-bold-webfont.ttf') format('truetype'), url('../fonts/gothamrnd-bold-webfont.svg#webfontJHuqN2XM') format('svg');
    font-weight: normal;
    font-style: normal;
}
