// Fonts
$doc-font-size: 16;
$doc-line-height: 23;
$paragraph-indent: true !default;
$base-font: 'GothamRoundedBook', 'helvetica-neue', helvetica, arial, sans-serif;
$heading-font: 'GothamRoundedBook', 'helvetica-neue', helvetica, arial, sans-serif;
$code-font: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
$alt-font: $base-font;

// COLOR 
$bodycolor      : #fff;
$textcolor      : #656771;
$basecolor      : #343434;      
$compcolor      : spin($basecolor, 180); 
$bordercolor    : $basecolor;
$white          : #fff;
$black          : #111;
$blue           : #2DBCCC;
$green          : #67D171;
$pink           : #D36CB0;
$yellow         : #FFCF58;
$accentcolor    : $blue;

// Media Queries
$micro            : "only screen and (max-width: 480px)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
