<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">
{% include _facebooksdk.html %}
{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _image-wrap.html %}


<div class="row align-center"> 
  <div class="post-list column medium-12">
    
    <div class="category-post-list">
      <!-- <h1 class="green">Recently Posted</h1> -->
      {% for post in site.categories.articles limit: 5 %}
          {% include _home-post.html %}
      {% endfor %}
    </div>
    <a href="/archive" class="button large expanded hollow">View all posts</a> 
  </div>
  
</div>

{% include _footer.html %}

{% include _scripts.html %}
  
</body>
</html>
