<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}

{% if page.image.feature %}
  {% if page.image.feature contains 'http' %}
      <meta property="og:image" content="{{ page.image.feature }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}/images/{{ page.image.feature }}">
  {% endif %}
{% else %}
  <meta property="og:image" content="{{ site.url }}/images/greatlakesrockies.png">
{% endif %}
</head>

<body class="post">
{% include _facebooksdk.html %}
{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _image-wrap.html %}

<div class="row align-center"> 
  <div class="column medium-12">
    <div class="post-title">
      <h1 class=" text-center">{{ page.title }}</h1>
      <div class="row post-meta">
        <div class="column medium-6 align-left">
          <p class="byline"><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
        </div>
        <div class="column medium-6 text-right">
          <p class="tags">{{page.tags | array_to_sentence_string}}</p>
        </div>
      </div>
    </div>

    <div class="post-full">
      {{ content }}
      <!-- <footer role="contentinfo" class="row align-middle">
        <div class="socials column">
       
            <div class="fb-share-button" data-href="{{ page.link }}" data-layout="button"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="cojorado" data-dnt="true">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
           
          </div>
         
        </footer> -->
    </div><!-- /.article-wrap -->
    
    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
    <!-- <div class="related-articles">
      <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
        <ul>
        {% for post in site.related_posts limit:3 %}
          <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div> -->
  </div>
</div>


    {% include _footer.html %}
  

{% include _scripts.html %}	        

</body>
</html>
